{% extends 'base.html' %}

{% block head %}
<title>身份认证</title>
{% endblock %}

{% block body %}
<script>
    function setCookie(name, value, expiryDays) {
        var d = new Date();
        d.setTime(d.getTime() + (expiryDays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = name + "=" + value + ";" + expires + ";path=/";
    }

    function Sbumit() {
        const form = document.querySelector('form');
        fetch("/authorize/", { method: "POST", body: new FormData(form) })
            .then(response => response.json())
            .then(data => {
                if (data.status === true) {
                    const cookie = data.cookie
                    setCookie('my_cookie', cookie, 999)
                    window.location = '/'
                } else {
                    window.location = '/error_404/';
                }
            })
            .catch(error => {
                console.error(error);
            });
    }

</script>
<div class="authorize_player">
    <h1>请输入认证密码</h1>
    <div class="authorize_content">
        <form name="passwd">
            <input type="text" name="content" id="content">
        </form>
        <button onclick="Sbumit()">提交</button>
    </div>
</div>
{% endblock %}